<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.champtc.champ.eventscripter.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.champtc.champ.eventscripter.application"
            name="Event Scripter">
         <property
               name="appName"
               value="Event Scripter">
         </property>
      </product>
   </extension>

</plugin>
